In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_excel("EEM_excel.xlsx")

In [36]:
df.head()

,date,SPY_p,IWM_p,EEM_p,TLT_p,LQD_p,TIP_p,IYR_p,GLD_p,FXE_p,SPY_v,IWM_v,EEM_v,TLT_v,LQD_v,TIP_v,IYR_v,GLD_v,FXE_v
0,2011-01-03,106.063690,69.939285,39.623764,72.828751,78.773132,89.762306,40.551311,138.000000,132.686691,138725200,48878000,40116200,13799400,2447900,1217300,8221200,11510200,1169200
1,2011-01-04,106.005257,68.902512,39.804993,72.914528,78.874382,89.988655,39.830631,134.750000,132.167770,137409700,77509000,45176300,10466900,962500,1049900,11275100,26154300,961300
2,2011-01-05,106.556252,69.710854,39.706150,71.308426,78.295532,89.644905,39.994736,134.369995,130.760773,133975300,47145300,47527100,17568000,1209200,869400,9167100,16700900,802900
3,2011-01-06,106.347519,69.385750,39.286022,71.620285,78.411331,89.904785,39.780674,133.830002,129.363770,122519000,39392300,43977400,9317500,1089700,827900,6797500,15965300,2825100
4,2011-01-07,106.138809,68.990364,38.923565,72.002312,78.809326,90.189842,39.766396,133.580002,128.316025,156034600,59486800,57124900,12694600,1118600,979300,10495700,16761400,1531600

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277 entries, 0 to 1276
Data columns (total 19 columns):
date     1277 non-null datetime64[ns]
SPY_p    1277 non-null float64
IWM_p    1277 non-null float64
EEM_p    1277 non-null float64
TLT_p    1277 non-null float64
LQD_p    1277 non-null float64
TIP_p    1277 non-null float64
IYR_p    1277 non-null float64
GLD_p    1277 non-null float64
FXE_p    1277 non-null float64
SPY_v    1277 non-null int64
IWM_v    1277 non-null int64
EEM_v    1277 non-null int64
TLT_v    1277 non-null int64
LQD_v    1277 non-null int64
TIP_v    1277 non-null int64
IYR_v    1277 non-null int64
GLD_v    1277 non-null int64
FXE_v    1277 non-null int64
dtypes: datetime64[ns](1), float64(9), int64(9)
memory usage: 189.6 KB

In [38]:
from datetime import datetime

In [39]:
df['date'] = pd.to_datetime(df['date'])

In [40]:
df.head()

,date,SPY_p,IWM_p,EEM_p,TLT_p,LQD_p,TIP_p,IYR_p,GLD_p,FXE_p,SPY_v,IWM_v,EEM_v,TLT_v,LQD_v,TIP_v,IYR_v,GLD_v,FXE_v
0,2011-01-03,106.063690,69.939285,39.623764,72.828751,78.773132,89.762306,40.551311,138.000000,132.686691,138725200,48878000,40116200,13799400,2447900,1217300,8221200,11510200,1169200
1,2011-01-04,106.005257,68.902512,39.804993,72.914528,78.874382,89.988655,39.830631,134.750000,132.167770,137409700,77509000,45176300,10466900,962500,1049900,11275100,26154300,961300
2,2011-01-05,106.556252,69.710854,39.706150,71.308426,78.295532,89.644905,39.994736,134.369995,130.760773,133975300,47145300,47527100,17568000,1209200,869400,9167100,16700900,802900
3,2011-01-06,106.347519,69.385750,39.286022,71.620285,78.411331,89.904785,39.780674,133.830002,129.363770,122519000,39392300,43977400,9317500,1089700,827900,6797500,15965300,2825100
4,2011-01-07,106.138809,68.990364,38.923565,72.002312,78.809326,90.189842,39.766396,133.580002,128.316025,156034600,59486800,57124900,12694600,1118600,979300,10495700,16761400,1531600

In [41]:
df['month'] = df['date'].dt.month
df['week'] =[pd.to_datetime(df.date[i]).weekday() for i in range(len(df.date))]

In [42]:
df.head()

,date,SPY_p,IWM_p,EEM_p,TLT_p,LQD_p,TIP_p,IYR_p,GLD_p,FXE_p,...,IWM_v,EEM_v,TLT_v,LQD_v,TIP_v,IYR_v,GLD_v,FXE_v,month,week
0,2011-01-03,106.063690,69.939285,39.623764,72.828751,78.773132,89.762306,40.551311,138.000000,132.686691,...,48878000,40116200,13799400,2447900,1217300,8221200,11510200,1169200,1,0
1,2011-01-04,106.005257,68.902512,39.804993,72.914528,78.874382,89.988655,39.830631,134.750000,132.167770,...,77509000,45176300,10466900,962500,1049900,11275100,26154300,961300,1,1
2,2011-01-05,106.556252,69.710854,39.706150,71.308426,78.295532,89.644905,39.994736,134.369995,130.760773,...,47145300,47527100,17568000,1209200,869400,9167100,16700900,802900,1,2
3,2011-01-06,106.347519,69.385750,39.286022,71.620285,78.411331,89.904785,39.780674,133.830002,129.363770,...,39392300,43977400,9317500,1089700,827900,6797500,15965300,2825100,1,3
4,2011-01-07,106.138809,68.990364,38.923565,72.002312,78.809326,90.189842,39.766396,133.580002,128.316025,...,59486800,57124900,12694600,1118600,979300,10495700,16761400,1531600,1,4

In [43]:
td = [1, 3, 5, 10, 20, 40, 60, 120, 250]

In [44]:
df.columns

Index(['date', 'SPY_p', 'IWM_p', 'EEM_p', 'TLT_p', 'LQD_p', 'TIP_p', 'IYR_p',
       'GLD_p', 'FXE_p', 'SPY_v', 'IWM_v', 'EEM_v', 'TLT_v', 'LQD_v', 'TIP_v',
       'IYR_v', 'GLD_v', 'FXE_v', 'month', 'week'],
      dtype='object')

In [45]:
df_col = ['SPY_p', 'IWM_p', 'EEM_p', 'TLT_p', 'LQD_p', 'TIP_p', 'IYR_p',
       'GLD_p', 'FXE_p', 'SPY_v', 'IWM_v', 'EEM_v', 'TLT_v', 'LQD_v', 'TIP_v',
       'IYR_v', 'GLD_v', 'FXE_v']

In [47]:
%%time

for k in df[df_col]:
    
    print(k," Processing...")

    for i in td:
        
        #print(i)

        cir_check = 1        

        a = k+"_"+str(i)            


        for j in range(i,len(df)):
            
            #print(j)

            if  cir_check == 1:

                df[a] = 0.0

                cir_check = 0

            else:

                pass


            if k.find('_v') == -1:

                df[a][j] = float((df[k][j] / df[k][j-i]) - 1)


            else:

                df[a][j] = df[k][j-i:j].mean()

SPY_p  Processing...

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

IWM_p  Processing...
EEM_p  Processing...
TLT_p  Processing...
LQD_p  Processing...
TIP_p  Processing...
IYR_p  Processing...
GLD_p  Processing...
FXE_p  Processing...
SPY_v  Processing...

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

IWM_v  Processing...
EEM_v  Processing...
TLT_v  Processing...
LQD_v  Processing...
TIP_v  Processing...
IYR_v  Processing...
GLD_v  Processing...
FXE_v  Processing...
Wall time: 2h 35min 35s

In [50]:
#df.to_excel("etf_data_process.xlsx")

In [99]:
#df = pd.read_excel("etf_data_proce.xlsx")

In [101]:
#df.drop(['Unnamed: 0'], axis = 1,inplace = True)

In [51]:
df.head()

,date,SPY_p,IWM_p,EEM_p,TLT_p,LQD_p,TIP_p,IYR_p,GLD_p,FXE_p,...,GLD_v_250,FXE_v_1,FXE_v_3,FXE_v_5,FXE_v_10,FXE_v_20,FXE_v_40,FXE_v_60,FXE_v_120,FXE_v_250
0,2011-01-03,106.063690,69.939285,39.623764,72.828751,78.773132,89.762306,40.551311,138.000000,132.686691,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2011-01-04,106.005257,68.902512,39.804993,72.914528,78.874382,89.988655,39.830631,134.750000,132.167770,...,0.0,1169200.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2011-01-05,106.556252,69.710854,39.706150,71.308426,78.295532,89.644905,39.994736,134.369995,130.760773,...,0.0,961300.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011-01-06,106.347519,69.385750,39.286022,71.620285,78.411331,89.904785,39.780674,133.830002,129.363770,...,0.0,802900.0,9.778000e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011-01-07,106.138809,68.990364,38.923565,72.002312,78.809326,90.189842,39.766396,133.580002,128.316025,...,0.0,2825100.0,1.529767e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
df_final = df[df['FXE_v_250'] != 0 ]

In [53]:
df_final.reset_index(inplace=True)

In [55]:
df_final.head()

,index,date,SPY_p,IWM_p,EEM_p,TLT_p,LQD_p,TIP_p,IYR_p,GLD_p,...,GLD_v_250,FXE_v_1,FXE_v_3,FXE_v_5,FXE_v_10,FXE_v_20,FXE_v_40,FXE_v_60,FXE_v_120,FXE_v_250
0,250,2011-12-29,107.496193,66.057526,31.844088,98.016830,85.749313,102.159256,42.352482,150.339996,...,17148222.0,1329400.0,7.400333e+05,868080.0,1417460.0,1590565.0,1818417.5,1.923483e+06,2.084257e+06,1723885.2
1,251,2011-12-30,106.967743,65.701195,31.869280,98.333130,86.112694,102.124252,42.144760,151.990005,...,17181430.0,855300.0,8.723333e+05,738020.0,1206270.0,1529260.0,1744907.5,1.897738e+06,2.070497e+06,1722629.6
2,252,2012-01-03,108.672401,66.788040,32.843678,96.857132,86.044540,102.089241,42.404408,155.919998,...,17120223.6,886900.0,1.023867e+06,792460.0,1171640.0,1514325.0,1719975.0,1.885027e+06,2.051027e+06,1722332.0
3,253,2012-01-04,108.842880,66.422791,32.658875,95.705551,86.112694,102.185547,41.929615,156.710007,...,17106963.2,1049400.0,9.305333e+05,910660.0,1051540.0,1471090.0,1658950.0,1.878653e+06,2.033092e+06,1723318.0
4,254,2012-01-05,109.132668,66.796974,32.516071,95.535225,85.741760,102.378059,42.233788,157.779999,...,17089300.8,982300.0,9.728667e+05,1020660.0,1000650.0,1439135.0,1638362.5,1.851607e+06,2.024625e+06,1715946.8

In [57]:
df_col_p = ['SPY_p',
            'IWM_p',
            'EEM_p',
            'TLT_p',
            'LQD_p',
            'TIP_p',
            'IYR_p',
            'GLD_p',
            'FXE_p']

In [66]:
%%time

for i in df_final[df_col_p]:
    
    print(i," Processing...")
        
    for j in td:
        
        t_name = str(i)+"_"+str(j)
        y_name = str(i)[0:3]+"_"+str(j)+"_y"

        df_final[y_name] = 0.0

        for j in range(1,len(df_final)):
                        
            

            if df_final[t_name][j] > 0 :
                
                

                df_final[y_name][j-1] = "1"

            else:
                                

                df_final[y_name][j-1] = "0"

            #print(df_final[i][j])

            #print(str(i)[0:3]+"_y")

SPY_p  Processing...

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\IPython\core\magics\execution.py:1238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code, glob, local_ns)
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

IWM_p  Processing...
EEM_p  Processing...
TLT_p  Processing...
LQD_p  Processing...
TIP_p  Processing...
IYR_p  Processing...
GLD_p  Processing...
FXE_p  Processing...
Wall time: 1h 20min 13s

In [67]:
df_final.to_excel("etf_data_process_1.xlsx")

In [68]:
df_final.head()

,index,date,SPY_p,IWM_p,EEM_p,TLT_p,LQD_p,TIP_p,IYR_p,GLD_p,...,GLD_250_y,FXE_1_y,FXE_3_y,FXE_5_y,FXE_10_y,FXE_20_y,FXE_40_y,FXE_60_y,FXE_120_y,FXE_250_y
0,250,2011-12-29,107.496193,66.057526,31.844088,98.016830,85.749313,102.159256,42.352482,150.339996,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,251,2011-12-30,106.967743,65.701195,31.869280,98.333130,86.112694,102.124252,42.144760,151.990005,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,252,2012-01-03,108.672401,66.788040,32.843678,96.857132,86.044540,102.089241,42.404408,155.919998,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,253,2012-01-04,108.842880,66.422791,32.658875,95.705551,86.112694,102.185547,41.929615,156.710007,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,254,2012-01-05,109.132668,66.796974,32.516071,95.535225,85.741760,102.378059,42.233788,157.779999,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
from sklearn import preprocessing

In [70]:
onehot_encoder = preprocessing.OneHotEncoder()
df_1 = pd.get_dummies(df_final['month'])
df_2 = pd.get_dummies(df_final['week'])

In [71]:
df_1

      1   2   3   4   5   6   7   8   9   10  11  12
0      0   0   0   0   0   0   0   0   0   0   0   1
1      0   0   0   0   0   0   0   0   0   0   0   1
2      1   0   0   0   0   0   0   0   0   0   0   0
3      1   0   0   0   0   0   0   0   0   0   0   0
4      1   0   0   0   0   0   0   0   0   0   0   0
5      1   0   0   0   0   0   0   0   0   0   0   0
6      1   0   0   0   0   0   0   0   0   0   0   0
7      1   0   0   0   0   0   0   0   0   0   0   0
8      1   0   0   0   0   0   0   0   0   0   0   0
9      1   0   0   0   0   0   0   0   0   0   0   0
10     1   0   0   0   0   0   0   0   0   0   0   0
11     1   0   0   0   0   0   0   0   0   0   0   0
12     1   0   0   0   0   0   0   0   0   0   0   0
13     1   0   0   0   0   0   0   0   0   0   0   0
14     1   0   0   0   0   0   0   0   0   0   0   0
15     1   0   0   0   0   0   0   0   0   0   0   0
16     1   0   0   0   0   0   0   0   0   0   0   0
17     1   0   0   0   0   0   0   0   0   0   0   0
18     1   0   0   0   0   0   0   0   0   0   0   0
19     1   0   0   0   0   0   0   0   0   0   0   0
20     1   0   0   0   0   0   0   0   0   0   0   0
21     1   0   0   0   0   0   0   0   0   0   0   0
22     0   1   0   0   0   0   0   0   0   0   0   0
23     0   1   0   0   0   0   0   0   0   0   0   0
24     0   1   0   0   0   0   0   0   0   0   0   0
25     0   1   0   0   0   0   0   0   0   0   0   0
26     0   1   0   0   0   0   0   0   0   0   0   0
27     0   1   0   0   0   0   0   0   0   0   0   0
28     0   1   0   0   0   0   0   0   0   0   0   0
29     0   1   0   0   0   0   0   0   0   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
997    0   0   0   0   0   0   0   0   0   0   0   1
998    0   0   0   0   0   0   0   0   0   0   0   1
999    0   0   0   0   0   0   0   0   0   0   0   1
1000   0   0   0   0   0   0   0   0   0   0   0   1
1001   0   0   0   0   0   0   0   0   0   0   0   1
1002   0   0   0   0   0   0   0   0   0   0   0   1
1003   0   0   0   0   0   0   0   0   0   0   0   1
1004   0   0   0   0   0   0   0   0   0   0   0   1
1005   0   0   0   0   0   0   0   0   0   0   0   1
1006   0   0   0   0   0   0   0   0   0   0   0   1
1007   0   0   0   0   0   0   0   0   0   0   0   1
1008   1   0   0   0   0   0   0   0   0   0   0   0
1009   1   0   0   0   0   0   0   0   0   0   0   0
1010   1   0   0   0   0   0   0   0   0   0   0   0
1011   1   0   0   0   0   0   0   0   0   0   0   0
1012   1   0   0   0   0   0   0   0   0   0   0   0
1013   1   0   0   0   0   0   0   0   0   0   0   0
1014   1   0   0   0   0   0   0   0   0   0   0   0
1015   1   0   0   0   0   0   0   0   0   0   0   0
1016   1   0   0   0   0   0   0   0   0   0   0   0
1017   1   0   0   0   0   0   0   0   0   0   0   0
1018   1   0   0   0   0   0   0   0   0   0   0   0
1019   1   0   0   0   0   0   0   0   0   0   0   0
1020   1   0   0   0   0   0   0   0   0   0   0   0
1021   1   0   0   0   0   0   0   0   0   0   0   0
1022   1   0   0   0   0   0   0   0   0   0   0   0
1023   1   0   0   0   0   0   0   0   0   0   0   0
1024   1   0   0   0   0   0   0   0   0   0   0   0
1025   1   0   0   0   0   0   0   0   0   0   0   0
1026   1   0   0   0   0   0   0   0   0   0   0   0

[1027 rows x 12 columns]

In [72]:
df_2

      0  1  2  3  4
0     0  0  0  1  0
1     0  0  0  0  1
2     0  1  0  0  0
3     0  0  1  0  0
4     0  0  0  1  0
5     0  0  0  0  1
6     1  0  0  0  0
7     0  1  0  0  0
8     0  0  1  0  0
9     0  0  0  1  0
10    0  0  0  0  1
11    0  1  0  0  0
12    0  0  1  0  0
13    0  0  0  1  0
14    0  0  0  0  1
15    1  0  0  0  0
16    0  1  0  0  0
17    0  0  1  0  0
18    0  0  0  1  0
19    0  0  0  0  1
20    1  0  0  0  0
21    0  1  0  0  0
22    0  0  1  0  0
23    0  0  0  1  0
24    0  0  0  0  1
25    1  0  0  0  0
26    0  1  0  0  0
27    0  0  1  0  0
28    0  0  0  1  0
29    0  0  0  0  1
...  .. .. .. .. ..
997   0  0  1  0  0
998   0  0  0  1  0
999   0  0  0  0  1
1000  1  0  0  0  0
1001  0  1  0  0  0
1002  0  0  1  0  0
1003  0  0  0  1  0
1004  1  0  0  0  0
1005  0  1  0  0  0
1006  0  0  1  0  0
1007  0  0  0  1  0
1008  1  0  0  0  0
1009  0  1  0  0  0
1010  0  0  1  0  0
1011  0  0  0  1  0
1012  0  0  0  0  1
1013  1  0  0  0  0
1014  0  1  0  0  0
1015  0  0  1  0  0
1016  0  0  0  1  0
1017  0  0  0  0  1
1018  0  1  0  0  0
1019  0  0  1  0  0
1020  0  0  0  1  0
1021  0  0  0  0  1
1022  1  0  0  0  0
1023  0  1  0  0  0
1024  0  0  1  0  0
1025  0  0  0  1  0
1026  0  0  0  0  1

[1027 rows x 5 columns]

In [73]:
df_1 = df_1.add_prefix("month_")

In [74]:
df_2 = df_2.rename({0:'MON',1:'TUE',2:'WED',3:'THU',4:'FRI'}, axis = 'columns')

In [75]:
df_final = pd.concat([df_final, df_1], axis = 1)

In [76]:
df_final = pd.concat([df_final, df_2], axis = 1)

In [77]:
df_final.head()

,index,date,SPY_p,IWM_p,EEM_p,TLT_p,LQD_p,TIP_p,IYR_p,GLD_p,...,month_8,month_9,month_10,month_11,month_12,MON,TUE,WED,THU,FRI
0,250,2011-12-29,107.496193,66.057526,31.844088,98.016830,85.749313,102.159256,42.352482,150.339996,...,0,0,0,0,1,0,0,0,1,0
1,251,2011-12-30,106.967743,65.701195,31.869280,98.333130,86.112694,102.124252,42.144760,151.990005,...,0,0,0,0,1,0,0,0,0,1
2,252,2012-01-03,108.672401,66.788040,32.843678,96.857132,86.044540,102.089241,42.404408,155.919998,...,0,0,0,0,0,0,1,0,0,0
3,253,2012-01-04,108.842880,66.422791,32.658875,95.705551,86.112694,102.185547,41.929615,156.710007,...,0,0,0,0,0,0,0,1,0,0
4,254,2012-01-05,109.132668,66.796974,32.516071,95.535225,85.741760,102.378059,42.233788,157.779999,...,0,0,0,0,0,0,0,0,1,0

In [78]:
df_final.to_excel("etf_data_final.xlsx")